<div class="wrapper d-flex container-fluid">
 <div class="sideMenu bg-mattBlackLight" style="background-color:#791d1d">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  view_list
                </i>
                <span class="text">Resize</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin" class="nav-link px-2">
                <i class="material-icons icon">
                  dashboard
                </i>
                <span class="text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/jobseeker" class="nav-link px-2">
                <i class="material-icons icon">
                  person
                </i>
                <span class="text">Jobseekers</span>
              </a>
            </li>
            <li class="nav-item">
              <a  href="/admin/employer" class="nav-link px-2">
                <i class="material-icons icon">
                  person
                </i>
                
            <span class="text">  Employers </span>
               
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon"> insert_chart </i
                ><span class="text">Charts</span></a
              >
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  settings
                </i>
                <span class="text">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  pages
                </i>
                <span class="text">graph</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  computer
                </i>
                <span class="text">Demo</span>
              </a>
            </li>
           
          </ul>
        </div>
      </div>