<div class="wrapper d-flex container-fluid">
<div class="sideMenu" style="background-color:#adaaaa;">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  view_list
                </i>
                <span class="text">Resize</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/employer" class="nav-link px-2">
                <i class="material-icons icon">
                  dashboard
                </i>
                <span class="text">Dashboard</span>
              </a>
            </li>
             <li class="nav-item">
              <a  href="/employer/profile" class="nav-link px-2">
                <i class="material-icons icon">
                  person
                </i>
                <span class="text">profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a  href="/employer/over-view" class="nav-link px-2">
                <i class="material-icons icon">
                  person
                </i>
                
            <span class="text">Over-view</span>
               
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon"> insert_chart </i
                ><span class="text">Charts</span></a
              >
            </li>
            <li class="nav-item">
              <a href="/employer/update-profile" class="nav-link px-2">
                <i class="material-icons icon">
                  settings
                </i>
                <span class="text">Update my profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  pages
                </i>
                <span class="text">graph</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  computer
                </i>
                <span class="text">Demo</span>
              </a>
            </li>
           
          </ul>
        </div>
      </div>