<nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
  <button class="navbar-toggler sideMenuToggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Job-Portal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     
      <a href="/login" type="submit" class="btn btn-success mr-3">want a job</a>

      <a href="/employer/login" type="submit" class="btn btn-success mr-3">post a job</a>
    </ul>
  </div>
</nav>