<div class="content">
    <main>
        <div class="row m-3">
              <div class="col-lg-12 text-dark text-center m-3">
               <h1>OVER-VIEW OF THIS MONTH</h1>
            </div>
            
         <div class="col-md-3 col-lg-3 mb-4">
              <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">Employers</h2>
        
                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='20'>
                  <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
        
                <!-- Demo info -->
                <div class="row text-center mt-4">
                  <div class="col-6 border-right">
                    <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                  </div>
                  <div class="col-6">
                    <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-4">
              <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">Employers</h2>
        
                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='20'>
                  <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
        
                <!-- Demo info -->
                <div class="row text-center mt-4">
                  <div class="col-6 border-right">
                    <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                  </div>
                  <div class="col-6">
                    <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-4">
              <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">Employers</h2>
        
                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='20'>
                  <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
        
                <!-- Demo info -->
                <div class="row text-center mt-4">
                  <div class="col-6 border-right">
                    <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                  </div>
                  <div class="col-6">
                    <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-4">
              <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">Employers</h2>
        
                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='20'>
                  <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                  </span>
                  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
        
                <!-- Demo info -->
                <div class="row text-center mt-4">
                  <div class="col-6 border-right">
                    <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                  </div>
                  <div class="col-6">
                    <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>
            </div>
    </main>
</div>