<section class="pt-4">

    <div class="about-section">
  <h1>About Us </h1>
  <p>This is a simple job portal website that you can search apply for jobs</p>
  <p>Also every one can post jobs for free</p>
</div>

<h2 style="text-align:center">Founder</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <img src="" alt="Aswin krishna" style="width:100%">
      <div class="container">
        <h2></h2>
        <p class="title">CEO & Founder</p>
        <p>ASWIN KRISHNA</p>
        <p>web-developer and designer</p>
        <p>aswinkrishna021@gmail.com</p>
        
      </div>
    </div>
  </div>
</div>
</section>